<!DOCTYPE html>
<html>

<head>
	<title>tweetapp</title>
</head>

<body>
	<header>
		<h1>Tweet App</h1>
	</header>

	<%= yield %>

	<footer>
		<h6>Copyright @ KaeGee Inc.</h6>
	</footer>
</body>

</html>