<form action="/signup" method="POST">
<label>Name: </label><input type="text" name="name"><br>
<label>Email: </label><input type="text" name="email"><br>
<label>Password: </label><input type="password" name="password"><br>
<label>Handle: </label><input type="text" name="handle">
<input type="submit" name="submit" value="Register Now">
</form>